gensim==3.8.3
importlib_metadata==8.7.0
importlib_resources==6.5.2
joblib==1.5.0
mol2vec==0.2.2
numpy==1.20.3
rdkit==2020.09.1
scikit_learn==0.23.2
scipy==1.10.1
nerdd-module==0.3.52
nerdd-link==0.5.17